.profile_card {
    max-width: calc(100vw - 40px);
    background-color: hsla(0, 0%, 12%, 0.589);
    border-radius: 4px;
    box-shadow: hsla(64, 91%, 47%, 0.445) 0px 0px 20px;
    margin: 30%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  
  body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  body {
    height: 100vh;
  }
  .links {
    text-align: center;
  }
  .head, .content {
    width: 90%;
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
  }
  .head, .about {
    margin-bottom: 10%;
    font-size: 20px;
    text-align: center;
    
  }
  
  .content {
    padding: 5% 10%;
  }
  body {
    background: url('assets/anim5.gif') no-repeat center center fixed;
    background-size: cover;
  }
  .profile-card {
    background-color: hsla(0, 0%, 100%, 0.151);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  }
  img {
    margin-top: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 1px;
    background-color: #666;
    transition: all 0.5s ease-in-out;
    filter: grayscale(50%);
  }
  .content {
    border-top: 1px solid hsla(0, 0%, 30%, .8);
  }
  .profile_image:hover {
    transform: scale(1.1);
    filter: grayscale(20%);
    transition: transform 1s ease;

  }
  .ikon{
    color: yellow;
    font-size: 27px;
  }
  .name_headline{
    font-family: 'Raleway', sans-serif;
  }
  h1{
    font-size: 75px;
    color: yellow;
    font-family: 'Qwitcher Grypen', cursive;
  }
  h2 {
    font-size: 27px;
  }
  #header {
    display: block-inline;
    position: absolute;
    flex: left;
    margin-right: 10%;
    padding: 1%;
    top: 0px;
    text-align: right;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.151);
    margin: 0;
  }
  .H {
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 35px;
    font-family: 'Raleway', sans-serif;
  }
  a:hover {
    color: yellow;
  }
  #logo {
    display: block-inline;
    position: absolute;
    flex: left;
    top: 0px;
    left: 2%;
  }
  .logo_img {
    margin-left: 10%;
    margin-top: 25%;
    width: 47px;
    height: 47px;
    border-radius: 20%;
  }
  footer {
    display: block-inline;
    position: absolute;
    flex: left;
    margin-right: 10%;
    padding: 1%;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.151);
    margin: 0;
  }